/* *{
    width: tamaño;
    height: tamaño;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 13px;
    padding-bottom: 5px;
    padding: 10x 13px 5px 15px;
    margin: 10px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 13px;
    margin-bottom: 5px;
    border: 2px solid red;
}*/
body{
    font-family: 'Lalezar', cursive;
    margin: 0;
}
button{
    border-radius: 5px;
    border: none;
    background: #fd324e;
    color: white;
    padding: 7px;
}
.titulo{
font-family: 'Lily Script One', cursive;
    font-size: 70px; 
    margin-bottom: 0px;
}
.title-a{
    margin-top: 0;
    font-size: 24px;
}
.title-b{
    font-size: 50px;
}
.guitarras{
    color: #1F313C;
}
.guitarras h3{
    font-family: 'Lily Script One', cursive;
    font-size: 35px;
     margin-bottom: 20px
}
/*#colorHexagecimal, rgb, imagen, rgba, rgb(12,12,12,.5)*/
.portada{
    background-image: url("../images/background.png");
        color: white;
    padding: 20px;
    /*En css todo se hereda*/
}
.portada button{
    margin-bottom: 70px;
}
.menu{
    font-size: 24px;
    display: inline-block;
    position: absolute;
    right: 0;
}
.menu li{
    display: inline-block;
        margin-left: 30px;
}
.logotipo{
    display: inline-block;
}
.menu, .logotipo, .menu li {font-size: 24px; display: inline-block; }
header{
        width: 800px;
    margin: auto;
    position: relative;
}
.contenedor{
     width: 800px;
    margin: auto;
}
.guitarra{
    margin: 10px;
    padding: 10px;
/*    overflow: hidden;*/
    border: 1px solid #1F313C;
    border-radius: 8px;
}
.guitarra ol{
    padding: 0;
}
.derecha{
    float: right;
    position: relative;
    top: -127px;
}
.izquierda{
    float: left;
    position: relative;
    top: 80px;
}
.contenedor-guitarra-a{
    padding-left: 20px;
}
.contenedor-guitarra-b{
    margin-left: 370px;
}