/* *{
    width: tamaño;
    height: tamaño;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 13px;
    padding-bottom: 5px;
    padding: 10x 13px 5px 15px;
    margin: 10px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 13px;
    margin-bottom: 5px;
    border: 2px solid red;
}*/

body{
    font-family: 'Lalezar', cursive;
    margin: 0;
}

.contac{
    display: flex;
}
table{
    width: 100%;
}
th{
    background: #273b47;
    color: white;
    padding: 10px 20px;
    text-align: left;
}
td{
    padding: 20px;
}
table, td, th{
    border: 1px solid #273b47;
    border-collapse: collapse;
}
input, textarea{
    outline: 0;
}
input:focus, textarea:focus {
  background: lightgray;
}
.contenedor{
     width: 800px;
    margin: auto;
    position: relative;
/*
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 500px;
*/
}
.header{
/*
        width: 800px;
    margin: auto;
*/
    position: relative;
}

.background{
    background-image: url("../images/background.png");
    background-size: cover;
}
.button{
    border-radius: 8px;
    border: none;
    background: #fd324e;
    color: white;
    padding: 7px 12px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    background: linear-gradient(to left, #fe344e, #ff7250);
}
.titulo{
font-family: 'Lily Script One', cursive;
    font-size: 70px; 
    margin-bottom: 0;
}
.titulo span{
    text-decoration: underline;
}
.title-a{
    margin-top: 0;
    font-size: 24px;
}
.title-b{
    font-size: 50px;
}
.guitarras{
    color: #1F313C;
    margin-bottom: 60px;
}
.guitarras h3{
    font-family: 'Lily Script One', cursive;
    font-size: 35px;
     margin-bottom: 20px
}
/*#colorHexagecimal, rgb, imagen, rgba, rgb(12,12,12,.5)*/
.portada{
    color: white;
    padding: 20px;
    height: 500px;
    /*En css todo se hereda*/
}
.portada button{
    margin-bottom: 70px;
}
.menu{
    font-size: 24px;
    display: inline-block;
    position: absolute;
    right: 0;
}
.menu li:before{
    content: "♦";
    font-size: 25px;
    line-height: 20px;
    color: #fd324e;
}
.menu a{
    color: white;
    text-decoration: none;
}
.menu li{
    display: inline-block;
        margin-left: 30px;
}
.logotipo{
    display: inline-block;
    margin-left: 0;
}
.menu, .logotipo, .menu li 
{
    font-size: 24px; display: inline-block; }


.guitarra{
    margin: 10px 10px 40px 10px;
    padding: 25px;
/*    overflow: hidden;*/
    border: 1px solid #1F313C;
    border-radius: 8px;
}
.guitarra.b{
    height: 160px;
}
.guitarra ol{
    padding: 0;
}
.derecha{
    float: right;
    position: relative;
    top: -141px;
}
.izquierda{
    float: left;
    position: relative;
    bottom: 15px;
}
.contenedor-guitarra-a{
    padding-left: 20px;
    margin-top: -14px;
}
.contenedor-guitarra-b{
    margin-left: 370px;
    position: relative;
    bottom: 90px;
}
.footer{
    background: #273b47;
    padding: 50px 10px;
}
.contacto{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    align-items: center;
    height: 200px;
}
.contacto img{
    display: block;
}
.contacto strong{
    display: block;
}
.contacto a{
    color: white;
    text-decoration: none;
    margin: 10px 10px 10px 0;
}
.footer .contenedor{
    display: flex;
    justify-content: space-between;
}
.formulario {
    display: flex;
    width: 400px;
    color: white;
    
}
.col1, col2{
    display: flex;
    flex-direction: column;
}
.col1{
    margin-right: 15px;
}
.col2{
    align-content: flex-start;
}
.col2 .button{
    margin-top: 15px;
}
.intereses label{
    font-size: 12px;
}
.formulario label, .sexo, .intereses{
    margin-bottom: 10px;
}
.sexo{
    margin-top: 10px;
}
.tabla{
    margin: 50px 0;
}
